.background {
  viewport-fill: black;
}

.timeLabel {
  font-size: 100;
  font-family: Tungsten-Medium;
  text-length: 2;
  text-anchor: middle;
  fill: #dbdbdb;
}

.smallTimeLabel {
  font-size: 35;
  font-family: Tungsten-Medium;
  fill: #dbdbdb;
  text-length: 8;
}

#dateLabel {
  text-anchor: start;
}

#stepsLabel {
  text-anchor: end;
}